body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

h1 {
    color: #ff69b4;
    font-family: 'Verdana', sans-serif;
    text-align: center;
    margin-top: 20px;
}

.section {
    margin-top: 30px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-info a {
    text-decoration: none;
    color: #ff69b4;
}

.skills ul,
.interests ul {
    list-style: none;
    padding-left: 20px;
}

.skills ul li,
.interests ul li {
    padding-left: 5px;
    margin-bottom: 8px;
}

.skills ul {
    list-style: disc;
}

.interests ul {
    list-style: circle;
}

.experience,
.education {
    ma
